extends layout
block content
  .col-lg-4.col-lg-offset-4
    if (errors)
      .alert.alert-danger
        for error in errors
          p= error
    form(id="login" action="/login" method="POST")
      .form-group
        .form-group
          label(for='email') Email
          input.form-control(id="email" type="text" name="email" placeholder="Please enter your email address")
        .form-group
          label(for='password') Password
          input.form-control(id="password" type="password" placeholder="Please enter your password" name="password")
        .form-group
          input.btn.btn-primary(type="submit" value="Login")
    | Not a user yet? <a href='register'>Register</a>
      
